.navbar {
  height: 100px;
  margin: 16px;
  display: flex;
  justify-content: flex-end;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 111.8%;
  letter-spacing: -0.03em;
}

.navbar p {
  padding-right: 16px;
}
